* {
   margin: 0;
   /*Remove os espaçamentos entre os elementos*/
   padding: 0;
   /*Encosta os elementos na parede*/
   box-sizing: border-box;
   /*Usa somente as medidas que eu já estabeleci*/
   font-family: 'Inter', sans-serif;
   /*Fonte de texto*/
}



body {
   background: linear-gradient(135deg,
         #0F172A,
         #1E3A5F,
         #4C1D95);
}


#container {
   display: none;

}



.header-nav {
   width: 65%;
   /*Largura definida do elemento*/
   height: 120px;
   /*Altura Definida do elemento*/
   margin-left: 19%;
   /*espaçamento esquerdo do elemento*/
   margin-top: 2%;
   /*espaçamento na parte de cima*/
   margin-bottom: 4%;
   display: flex;
   flex-direction: row;
   /*Elementos vão ficar na mesma linha*/
   justify-content: center;
   /*Elementos vão ficar centralizados*/
   align-items: center;
   gap: 250px;
   /*espaçamento entre os elementos*/

   background: rgba(59, 130, 246, 0.15);
   backdrop-filter: blur(20px);
   /*Desfoque no body */
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;
   /*Arredondamento da borda*/
   color: #FFFFFF;

}

#nav-secoes {
   color: #FFFFFF;
   display: flex;
   gap: 15px;
   /*Espaçamento entre os links*/
}


#main-futuro {
   margin-left: 19%;
   backdrop-filter: blur(20px);
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;
   width: 65%;
   height: 400px;
   margin-bottom: 4%;


}

#img-main-futuro {
   margin-left: 20px;
   height: 300px;
   border-radius: 40px;
}

#boas-vindas-main-futuro {
   margin-left: 320px;
   position: relative;
   top: 60px;
   font-size: 40px;
   color: #FFFFFF;


}

#p-main-futuro {
   width: 550px;
   position: relative;
   left: 290px;
   top: -210px;
   font-size: 20px;
   color: #FFFFFF;
}




#section-final {
   display: flex;
   flex-direction: row;
   margin-left: -2%;

}


#article-futurista {
   margin-left: 2%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   height: 180px;
   width: 60%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;


}

#img-section-robo {
   height: 40px;
   margin-left: 42%;

}

#h2-estetica-futurista-section-final {
   color: #FFFFFF;
   text-align: center;
   font-size: 20px;
   margin-bottom: 2%;
}

#paragrafo-futurista-section-final {
   color: #FFFFFF;
   text-align: center;
   font-size: 15px;

}

#article-performance {
   margin-left: 2%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   height: 180px;
   width: 60%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;

}


#img-section-final-raio {
   height: 50px;
   margin-left: 42%;
}


#h2-rapida-performance-section-final {
   color: #FFFFFF;
   text-align: center;
   font-size: 20px;
   margin-top: -2%;
}


#paragrafo-rapida-performance {
   color: #FFFFFF;
   text-align: center;
   font-size: 15px;
   margin-top: 1%;


}


#article-responsividade {
   margin-left: 2%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   height: 180px;
   width: 60%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;
}


#img-section-final-celular {
   height: 50px;
   margin-left: 42%;

}

#h2-responsividade-section-final {
   color: #FFFFFF;
   text-align: center;
   font-size: 20px;
   margin-top: -2%;

}


#paragrafo-responsividade {
   color: #FFFFFF;
   text-align: center;
   font-size: 15px;
   margin-top: 1%;

}

#container-me-conheça {
   display: none;
}



.minha-img-section-me-conheca {
   height: 100px;

}

.section-header-me-conheca {
   margin-left: 19%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   height: 330px;
   width: 66%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;
   margin-bottom: 4%;
}

.minha-img-section-me-conheca {
   margin-left: 20px;
   margin-top: 2%;
   height: 300px;
   border-radius: 40px;
   border: 1px solid
}

.h1-boas-vindas-container-me-conheca {
   margin-left: 320px;
   position: relative;
   top: -280px;
   font-size: 40px;
   color: #FFFFFF;
}

.paragrafo-container-me-conheca {
   margin-left: 320px;
   position: relative;
   top: -250px;
   font-size: 20px;
   color: #FFFFFF;
}


.container-me-conheca-habilidades-grafico {
   margin-left: 19%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   height: 400px;
   width: 66%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 30px;

}

.minha-habilidade-article-me-conheca {
   text-align: center;
   color: #FFFFFF;
   margin-top: 4%;
   font-size: 30px;
}


.container-habilidade-html {
   display: flex;
   flex-direction: row;
   margin-top: 5%;

}

.habilidade-tecnologia-html {
   color: #FFFFFF;
   margin-left: 16%;
   font-size: 20px;
}


.color {
   background-color: #663399;
   width: 45%;
   width: 389px;
   height: 20px;
   margin-left: 3%;
   border-radius: 30px;
}

.div-porcentagem-html {
   margin-left: 3%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 50px;
   height: 30px;
   border: 1px solid rgba(255, 255, 255, 0.2);
   margin-top: -1%;

}

.porcentagem-html {
   text-align: center;
   color: #FFFFFF;
   margin-top: 5px;
}


.container-habilidade-css {
   display: flex;
   flex-direction: row;
   margin-top: 5%;
}

.habilidade-tecnologia-css {
   color: #FFFFFF;
   margin-left: 16%;
   font-size: 19px;
   margin-top: -3%;
}

.color-tecnologia-css {
   background-color: #663399;
   width: 45%;
   width: 375px;
   height: 20px;
   margin-left: 3%;
   border-radius: 30px;
   margin-top: -3%;
}


.div-porcentagem-css {
   margin-left: 5%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 50px;
   height: 30px;
   border: 1px solid rgba(255, 255, 255, 0.2);
   margin-top: -3%;

}

.porcentagem-css {
   text-align: center;
   color: #FFFFFF;
   margin-top: 7%;
   font-size: 17px;
}


.container-habilidade-javascript {
   display: flex;
   flex-direction: row;
   margin-top: 2%;
}

.habilidade-tecnologia-javascript {
   color: #FFFFFF;
   margin-left: 13%;
   font-size: 20px;
}

.color-tecnologia-javascript {
   background-color: #663399;
   width: 340px;
   height: 20px;
   margin-left: 2%;
   border-radius: 30px;

}

.div-porcentagem-javascript {
   margin-left: 6.8%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 50px;
   height: 30px;
   border: 1px solid rgba(255, 255, 255, 0.2);
}

.porcentagem-javascript {
   text-align: center;
   color: #FFFFFF;
   margin-top: 7%;
   font-size: 17px;
}


.container-habilidade-react {
   display: flex;
   flex-direction: row;
   margin-top: 2%;
}

.habilidade-tecnologia-react {
   color: #FFFFFF;
   margin-left: 15%;
   font-size: 20px;
}

.color-tecnologia-react {
   background-color: #663399;
   width: 340px;
   height: 20px;
   margin-left: 2%;
   border-radius: 30px;
}

.div-porcentagem-react {
   margin-left: 9.4%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 50px;
   height: 30px;
   border: 1px solid rgba(255, 255, 255, 0.2);
}


.porcentagem-react {
   text-align: center;
   color: #FFFFFF;
   margin-top: 7%;
   font-size: 17px;
}

.container-habilidade-node {
   display: flex;
   flex-direction: row;
   margin-top: 2%;
}

.habilidade-tecnologia-node {
   color: #FFFFFF;
   margin-left: 14%;
   font-size: 20px;
}


.color-tecnologia-node {
   background-color: #663399;
   width: 345px;
   height: 20px;
   margin-left: 2%;
   border-radius: 30px;
}

.div-porcentagem-node {
   margin-left: 8.1%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 50px;
   height: 30px;
   border: 1px solid rgba(255, 255, 255, 0.2);
}


.porcentagem-node {
   text-align: center;
   color: #FFFFFF;
   margin-top: 7%;
   font-size: 17px;
}

.container-habilidade-git-github {
   display: flex;
   flex-direction: row;
   margin-top: 2%;
}

.habilidade-tecnologia-git-github {
   color: #FFFFFF;
   margin-left: 12%;
   font-size: 19px;
}

.color-tecnologia-git-github {
   background-color: #663399;
   width: 365px;
   height: 20px;
   margin-left: 2%;
   border-radius: 30px;
}

.div-porcentagem-git-github {
   margin-left: 3.5%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 50px;
   height: 30px;
   border: 1px solid rgba(255, 255, 255, 0.2);
}


.porcentagem-git-github {
   text-align: center;
   color: #FFFFFF;
   margin-top: 7%;
   font-size: 17px;
}


.container-projetos {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
}


.subtitulo-projetos {
   text-align: center;
   font-size: 40px;
   color: #FFFFFF;
   margin-bottom: 2%;
}

.paragrafo-projetos {
   width: 550px;
   text-align: center;
   margin-left: 29%;
   color: #FFFFFF;
   margin-bottom: 4%;
}



.card-calculadora {
   margin-left: 35%;
   background: rgba(59, 130, 246, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.2);
   width: 400px;
   height: 400px;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.img-calculadora {
   position: relative;
   top: -15%;
   margin-left: 10%;
   width: 80%;
   height: 200px;
   object-fit: cover;
   border-radius: 30px;
}


.subtitulo-calculadora {
   text-align: center;
   color: #FFFFFF;
   position: relative;
   top: -5%;
   font-size: 20px;
}

.paragrafo-calculadora {
   text-align: center;
   font-size: 20px;
   color: #FFFFFF;

}

.botao-calculadora {
   width: 120px;
   height: 20px;
   margin-left: 37%;
   position: relative;
   top: 15px;
   border-radius: 30px;
   background-color: #39FF14;
   box-shadow: 0 0 10px #8A2BE2;
   color: white;
   text-align: center;
   text-decoration: none;
}

